%%% -*- mode: erlang -*-
{cover_enabled, true}.
{ct_extra_params, "-ct_hooks cth_surefire"}.

{deps,
 [
    {'erlcql'         , ".*" , {git , "https://github.com/Regulators/erlcql.git"         , {tag , "0.3.0"}}},
    {'erlcql_poolboy' , ".*" , {git , "https://github.com/regulators/erlcql_poolboy.git" , {tag , "0.2.0"}}},
    {'uuid'           , ".*" , {git , "https://github.com/okeuday/uuid.git"              , {tag , "v1.3.1"}}}
 ]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
